{% extends 'base.html.twig' %}
{% block title %}Hello{% endblock %}
{% block body %}
  <h1>Hello {{ prenom|upper }} !</h1>
  <p class="muted">Exemple de rendu Twig avec filtre <code>|upper</code>.</p>
{% endblock %}
